*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  max-width: 1440px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.main-header,
.hero-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.left-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

img.logo-short {
  max-width: 68.99px;
  max-height: 50px;
  margin-top: 50px;
  margin-left: 140px;
}

img.logo-long {
  max-width: 128.75px;
  max-height: 14.88px;
  margin-top: 68px;
  margin-left: 12px;
}

nav {
  margin-top: 64px;
}

.nav-light {
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  margin-right: 48px;
}

.nav-dark {
  background-color: #647B64;
  color: #FEFEFE;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 140px;
  border: solid;
  border-color: #647B64;
  border-radius: 3%;
}

.hero-box {
  margin-top: 60px;
}

.hero-left {
  max-width: 495px;
  max-height: 375px;
  margin-left: 180px;
  align-items: flex-start;
  margin-top: 30px;
}

.hero-h1 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 48px;
  color: #333333;
}

.hero-p {
  color: #4F4F4F;
  font-weight: lighter;
  font-size: 20px;
  line-height: 132%;
  letter-spacing: 4%;
}

div.hero.button {
  position: relative;
  margin-top: 35px;
}

.green-button {
  max-width: 370px;
  max-height: 73px;
  background-color: #647B64;
  color: #FEFEFE;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 15%;
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px;
  padding-right: 234px;
  border: none;
}

.hero-arrow {
  position: absolute;
  right: 150px;
  top: 25px;
}

.hero-image {
  max-height: 585.91px;
  max-width: 343px;
  margin-right: 200px;
}

.services-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.services-info {
  font-weight: lighter;
}

.services-left {
  max-width: 567px;
  max-height: 375px;
  margin-left: 142px;
  margin-top: 186px;
  grid-area: 1/1/2/2;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #F3B562;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 41px;
  text-transform: uppercase;
  color: #647B64;
  line-height: 110%;
  font-weight: lighter;
  margin-top: 15px;
}

.services-info-p {
  font-size: 16px;
  max-width: 412px;
}

.services-info-p,
.services-p,
.more-services-p {
  line-height: 132%;
  letter-spacing: 4%;
  color: #4F4F4F;
  text-align: left;
  font-weight: lighter;
}

div.services.button {
  position: relative;
  margin-top: 50px;
}

.services-arrow {
  position: absolute;
  right: 225px;
  top: 27px;
}

.services-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 186px;
}

.services.white {
  grid-area: 1/1/2/2;
  max-width: 288px;
  max-height: 237px;
  padding: 40px;
  background-color: #FFFFFF;
}

.services.white,
img.services-img {
  border: none;
  border-radius: 8%;
}

img.smart-car {
  background-color: #647B64;
  background-size: cover;
}

img.services-img {
  padding: 20px;
  margin-bottom: 15px;
}

img.other {
  background-color: #FFFFFF;
  background-size: cover;
}

.services.simple {
  max-width: 288px;
  max-height: 237px;
  padding: 40px;
  border: none;
}

.services.simple.ship {
  grid-area: 2/1/3/2;
}

.services.simple.bus {
  grid-area: 1/2/2/3;
}

.services.simple.driving {
  grid-area: 2/2/3/3;
}

.services-p {
  max-width: 221px;
  font-size: 13px;
}

.services-name {
  font-size: 24px;
}

.more-services-wrapper {
  padding-top: 140px;
  margin-bottom: 170px;
}

.more.services-info {
  text-align: center;
  font-weight: lighter;
}

.more-services-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.more-services.one {
  grid-area: 1/1/2/2;
}

.more-services.two {
  grid-area: 1/2/2/3;
  border: none;
  border-radius: 4%;
  background-color: #647B64;
  color: #FFFFFF;
}

p.more-services-p.white {
  color: #FFFFFF;
}

.more-services.three {
  grid-area: 1/3/2/4;
}

.more-services-img {
  margin-bottom: 15px;
}

.more-services-p {
  font-size: 16px;
  max-width: 260px;
}

.more-services {
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 78px;
  padding-bottom: 72px;
  padding-left: 70px;
}

.more-services.one {
  margin-left: 75px;
}

.more-services.three {
  margin-right: 75px;
}/*# sourceMappingURL=style.css.map */